/* Button open comment setting */
#loadDisqus {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "VT323";
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}

#loadDisqus:hover {
  background-color: #0056b3;
}

#loadDisqus.closeport {
  display: none;
}

/* Navbar side setting */
.side-menu{
    width: 300px;
    height: 100vh;
    padding: 50px 0;
    box-sizing: border-box;
    background-image: linear-gradient(0deg,#3381b0,#87cefa);
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 5px 0px 10px rgba(17, 26, 41, 0.6);
    position: fixed;
    z-index: 99999999999;

    transition: .5s;
    transform: translateX(-100%);
}
.side-menu form{
    display: flex;
    margin: 0 10px 50px;
    border-radius: 100px;
    border: 1px solid #fff;

}
.side-menu form input,
.side-menu form button{
    background-color: transparent;
    color: #fff;
    border:none;
    padding:5px 10px;
}
.side-menu form input{
    width: 230px;
}
.side-menu label{
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: #000;
    color: #fff;
    right: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    border-radius: 0 10px 10px 0;
}
.side-menu label .fas {
    border: solid white;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(-45deg) translateY(10px) translateX(-23px);
    -webkit-transform: rotate(-45deg) translateY(10px) translateX(-23px);
}
#side-menu-switch{
    position: absolute;
    visibility: hidden;
}
#side-menu-switch:checked + .side-menu{
    transform: translateX(0%);
}
#side-menu-switch:checked + .side-menu label .fas{
  transform: rotate(135deg) translateY(-212px) translateX(11px);
  -webkit-transform: rotate(135deg) translateY(-21px) translateX(11px);
}
::placeholder {
     /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
.side-menu form button{
    width: 50px;
}
.side-menu form input:focus::placeholder{
    color: #ccc;
}
.side-menu form input:focus,
.side-menu form button:focus{
    outline: none;
}
nav a{
    display: block ;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: "VT323";
    font-size: 1.7rem;
}
#visitor{
    display: block ;
    padding: 10px;
    color: #000;
    text-decoration: none;
    text-align: left;
    position: relative;
    font-family: "VT323";
    font-size: 1.3rem;
}
 nav a+a::before{
     content: '';
     position: absolute;
     border-top: 1px solid #fff;
     left: 10px;
     right: 10px;
     top: 0;
 }
 /* Method 1 */
 nav a .fas{
     margin-right: -1.1em;
     transform: scale(0);
     transition: .5s;
 }
 nav a:hover .fas{
     margin-right: 0.3em;
     transform: scale(1);
 }

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -60px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.fade,
body,
img {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #262228;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  --color-primary: #20dfdf;
  --color-secondary: #1cc3c3;
  --color-tertiary: #19adad;
  --color-quaternary: #179f9f;
  --color-quinary: #117979;
}

/* Animation Title Setiing */
.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: "Bungee", sans-serif;
  font-weight: 16;
  text-transform: uppercase;
  font-size: calc(1rem + 2vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /*color: transparent;*/
  /*background-color: white;*/
  /*background-clip: text;*/
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* Animation Arrow Down Setting */
.chevron.bottom {
  transform: translate(0px, 0px);
  animation: arrow-daffabot-tampan 1805ms infinite ease-out;
}

@keyframes arrow-daffabot-tampan {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(0%, 200%);
  }
}

.chevron::before {
  border-style: solid;
  border-width: 0.75em 0.75em 0 0;
  content: "";
  display: inline-block;
  height: 1.9em;
  left: 1.15em;
  top: 1.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.9em;
}

.chevron.bottom:before {
  transform: rotate(135deg);
  border-color: #02c3bd;
}

/* Animation Profile Setting */
#outline {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
}

.outer-shadow,
.inner-shadow {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.inner-shadow {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 100%;
  background-image: url("../image/profil.png");
  background-size: 100% 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 100px, 100px, 50px);
  border-radius: 100%;
  background-color: #fff;
}

.fill,
.dot span {
  background-color: #20dfdf;
}

.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

.left .fill {
  z-index: 1;
  -webkit-animation: left 2s linear;
  -moz-animation: left 2s linear;
  animation: left 2s linear both;
}

@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

.right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right .fill {
  z-index: 3;
  -webkit-animation: right 2s linear;
  -moz-animation: right 2s linear;
  animation: right 2s linear both;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.inner-shadow img {
  margin-left: 8px;
  margin-top: 7px;
}

/* Text & Image Setting */
.Psatu {
  font-size: 30px;
  height: auto;
  text-align: center;
}

.Fsatu {
  text-align: center;
  height: auto;
  font-size: 1.55em;
}

.Fdua {
  text-align: left;
  font-size: 1.55em;
  height: auto;
}

.Pfoot {
  font-size: 25px;
  margin-left: 2%;
  text-align: left;
}

.Ffamily {
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 27px;
  height: auto;
}

.Saweria {
  border-radius: 10%;
  width: 200px;
  height: 40px;
}

.disqustret {
  margin-left: 6%;
  margin-right: 6%;
}

#wse-buttons-preview {
  border: 0px;
  height: 40px;
}

/* Body Layout Setting */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#satu {
  color: #02c3bd;
  flex-direction: column;
}

#dua {
  color: #02c3bd;
  background: #02c3bd;
  flex-direction: column;
}

#tiga {
  color: #262228;
  flex-direction: column;
}

#empat {
  color: #02c3bd;
  background: #02c3bd;
  flex-direction: column;
}

section .container {
  margin: 10px;
  flex-direction: column;
  width: 97%;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 10px 0px;
  padding: 21px;
  background: #262228;
  flex-direction: column;
  width: 100%;
  color: #02c3bd;
}

.text-box2 {
  margin: 10px 0px;
  padding: 21px;
  background: #02c3bd;
  flex-direction: column;
  width: 100%;
}

section .text-container .text-box .text-box2 h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Animation Reveal Setting */
.reveal,
.inreveal {
  position: relative;
  transition: 1s all ease;
  opacity: 0;
}

.reveal.active {
  -webkit-animation: swing-in-right-bck 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-right-bck 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  opacity: 1;
}

@-webkit-keyframes swing-in-right-bck {
  0% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-bck {
  0% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}

/* Reveal 2 */
.inreveal.active {
  -webkit-animation: swing-in-left-bck 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-bck 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  opacity: 1;
}

@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

/* Paragraph Setting */
p {
  font-size: 1.7em;
  font-family: "VT323", monospace;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  width: auto;
  height: auto;
}

a:link {
  color: red;
}

a:visited {
  color: white;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

/* Font Face Setting */
@font-face {
  font-family: "VT323";
  src: url("../font/VT323-Regular.ttf");
}

@font-face {
  font-family: "Bungee";
  src: url("../font/Bungee-Regular.ttf");
}

/* Up Icon Setting */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.up-icon {
  border: none;
  display: none;
  position: fixed;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url(../image/top.webp) no-repeat;
  bottom: 20px;
  right: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  img: url(../image/top.webp);
  color: #262228;
}

.up-icon:hover {
  background-color: #555;
}

.fa-chevron-circle-up {
  font-size: 30px;
  line-height: 50px;
}

/*comment*/
#comments {
  display: flexbox;
  margin: 10px 15px;
  background: #262228;
  height: auto;
  width: auto;
}

#dsq-app9084 {
  width: 1px !important;
  min-width: 100% !important;
  border: none !important;
  overflow: hidden !important;
  height: 1932px !important;
}

.post-comment-link {
  visibility: visible;
}

a.link {
  color: #02c3bd;
}

/* Recent Project Setting */
.case {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Mengatur 2 kolom */
  margin: 5px 0px;
  gap: 20px;
  position: relative;
}

.card {
  width: 100%;
  height: auto;
  margin: 10px 0px; /* Tambahkan satuan px untuk margin */
  border-radius: 15px;
  position: relative;
  box-shadow: 0 10px 10px #02c3bd;
  justify-self: center;
}

/* Untuk mengatur grid-column pada card, misalnya, card 1 akan di kolom 1, card 2 di kolom 2, dan seterusnya */
.card:nth-child(odd) {
  grid-column: 1; /* Card ganjil di kolom 1 */
}

.card:nth-child(even) {
  grid-column: 2; /* Card genap di kolom 2 */
}

.head-card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border: 2px solid;
  align-self: center;
}

.body-card {
  padding: 20px 15px;
  color: #02c3bd;
}

.body-card h1 {
  margin: 0;
  color: #02c3bd;
}

.body-card svg {
  width: 31px;
  color: #02c3bd;
  position: absolute;
  bottom: 7px;
  right: 20px;
}

/* Footer Setting */
.pg-footer {
  font-family: "VT323", monospace;
}
.footer {
  background-color: #262228;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #02c3bd;
}
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 900px;
  position: relative;
}
.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #02c3bd;
}
.footer-content-column ul li a {
  color: #02c3bd;
  text-decoration: none;
}
.footer-content-column ul li a:hover {
  color: #02c3bd;
}
.footer-logo-link {
  display: inline-block;
  text-decoration: none;
  color: #02c3bd;
  font-family: "VT323", monospace;
  font-size: 3rem;
}
.footer-menu {
  margin-top: 30px;
}
.footer-menu-name {
  color: #02c3bd;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-family: "VT323", monospace;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: "VT323", monospace;
}
#footer-action-description {
  font-size: 1.5rem;
}
.footer-call-to-action-description {
  color: #02c3bd;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 1.5rem;
  font-family: "VT323", monospace;
}
.footer-call-to-action-button:hover {
  background-color: #02c3bd;
  color: #262228;
}
.button:last-of-type {
  margin-right: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer-call-to-action-button {
  /* margin: 20px 0; */
  background-color: gray;
  border-radius: 21px;
  color: #02c3bd;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
  font-family: "VT323", monospace;
}
.footer-call-to-action {
  /* margin-bottom: 20px; */
}
.footer-call-to-action-title {
  color: #02c3bd;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 2rem;
  /* margin-bottom: 0px; */
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "VT323", monospace;
}
.footer-call-to-action-link-wrapper {
  /* margin-bottom: 0; */
  margin-top: 10px;
  color: #02c3bd;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #02c3bd;
  text-decoration: none;
}
.footer-copyright {
  background-color: gray;
  color: #02c3bd;
  padding: 15px 30px;
  text-align: center;
}
.footer-copyright-wrapper {
  max-height: 5vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.footer-copyright-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 18px;
  /* margin-bottom: 0; */
  /* margin-top: 0; */
}
.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query Setting */
@media (max-width: 2560px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 894px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  .footer-wave-svg {
    height: 50px;
  }
  .footer-content-column {
    width: 24.99%;
  }
}

@media screen and (min-width: 550px) {
  .card {
    grid-column: span 4;
  }
}
@media screen and (min-width: 760px) {
  .card {
    width: 350px;
    margin: 10 0px;
  }
}
@media screen and (min-width: 960px) {
  .case {
    margin: 5px 100px;
  }
}
