    /* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -60px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.fade, body, img {
	    -webkit-animation-name: fade;
	    -webkit-animation-duration: 3s;
	    animation-name: fade;
	    animation-duration: 3s;}
	  @-webkit-keyframes fade {
		  from {opacity: 0}
		  to {opacity: 1}}
	  @keyframes fade {
		  from {opacity: 0}
		  to {opacity: 1}}

*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: 'bungee', sans-serif;
      font-size: 16px;
      background: #262228;
	    display: flex;
  flex-direction: column;
  justify-content: center;
    }
:root {
  --color-primary: #20DFDF;
  --color-secondary: #1cc3c3;
  --color-tertiary: #19adad;
  --color-quaternary: #179f9f;
  --color-quinary: #117979;
}
.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'bungee, sans-serif;
  font-weight: 16;
  text-transform: uppercase;
  font-size: calc(1rem + 2vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.chevron.bottom {
  transform: translate(0px, 0px);
  animation: arrow-daffabot-tampan 1805ms infinite ease-out;
}

@keyframes arrow-daffabot-tampan {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(0%, 200%);
  }
}
.chevron::before {
	border-style: solid;
	border-width: 0.75em 0.75em 0 0;
	content: '';
	display: inline-block;
	height: 1.45em;
	left: 1.15em;
	top: 1.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1.45em;
}
.chevron.bottom:before {
	transform: rotate(135deg);
	border-color: #02c3bd;
}
#outline {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
}
.outer-shadow,
.inner-shadow {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inner-shadow {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 100%;
  background-image: url("../image/profil.png");
  background-size: 100% 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 100px, 100px, 50px);
  border-radius: 100%;
  background-color: #fff;
}
.fill,
.dot span {
  background-color: #20DFDF;
}
.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.left .fill {
  z-index: 1;
  -webkit-animation: left 1s linear;
  -moz-animation: left 1s linear;
  animation: left 1s linear both;
}
@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.right .fill {
  z-index: 3;
  -webkit-animation: right 1s linear;
  -moz-animation: right 1s linear;
  animation: right 1s linear both;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.inner-shadow img {
  margin-left: 8px;
  margin-top: 7px;
}

		.Psatu {
			font-size: 30px;
			height: auto;
		}
		.Fsatu {
			margin-left: 2%;
			align: left;
		}
		.Fdua {
			font-size: 20px;
			align: left;
		}
		.Pfoot {
			font-size: 23px;
			margin-left: 2%;
			align: left;
		}
		.Fsubjudul {
			font-size: 1em; 
			margin-left: 4%;
			align: left;
		}
		.imgtbl {
			width: 50%;
			height: 50%;
		        object-fit: scale-down;
		}
		.Ffamily {
			font-family: 'VT323', monospace;
			text-align: center;
		}
		}
		.Saweria {
			border-radius: 10%;
		}
		.disqustret {
			margin-left: 6%; 
			margin-right: 6%;
		}
                #footer-action-description {
			font-size: 1.3em;
                }
                #wse-buttons-preview {
			border: 0px;
			height: 40px;
                }

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#satu {
  color: #02c3bd;
  flex-direction: column;
  }
#dua {
  color: #02c3bd;
  background: #02c3bd;
  flex-direction: column;
} 
#tiga {
  color: #262228;
  flex-direction: column;
}
#empat {
  color: #02c3bd;
  background: #02c3bd;
  flex-direction: column;
}
section .container{
  margin: 10px;
  flex-direction: column;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
  display: flex;
}
section .text-container .text-box{
  margin: 10 0;
  padding: 21;
  background: #262228;
flex-direction: column;
  width: 100%;
	color: #02c3bd;
}
section .text-container .text-box2{
  margin: 10 0;
  padding: 21;
  background: #02c3bd;
flex-direction: column;
  width: 100%;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 2560px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

p {
     font-size: 1.7em;
     font-family: 'VT323', monospace;
     width: auto;
     height: auto;
     }
a {
     text-decoration: none;
     width: auto;
     height: auto;
}
a:link {
     color: red;
}
a:visited {
     color: white;
}
a:hover {
     color: hotpink;
}
a:active {
     color: blue;
}
#bullets {
     font-family: 'VT323', monospace;
}
@font-face {
     font-family: "VT323";
     src: url('../font/VT323-Regular.ttf');
}
.digital {
     font-family: "VT323";
}
html {
     scroll-behavior: smooth;
}
.up-icon {
        display: none;
	position: fixed;
        cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../image/top.webp) no-repeat;
	bottom: 20px;
	right: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 70px;
	img: url(../image/top.webp);
	color: #262228;
}
.up-icon:hover {
        background-color: #555;
}
.fa-chevron-circle-up {
        font-size: 30px;
        line-height: 50px;
}

#comments {
        display: flexbox;
        margin: 10px 15px;
	background: #262228; 
	height: auto; 
	width: auto;
}
#dsq-app9084 {
	width: 1px !important; 
	min-width: 100% !important; 
	border: none !important; 
	overflow: hidden !important; 
	height: 1932px !important;
}
.post-comment-link {
        visibility: visible;
}
#link {
        color: #02c3bd;
}
.case {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  margin: 5px 0px;
  gap: 20px;
  position: relative;
}
.card {
  width: 100%;
  height: auto;
  grid-column: span 4;
  margin: 10 0px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 10px 10px #02c3bd;
}
.head-card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.body-card {
  padding: 20px 15px;
	color: #02c3bd;
}
.body-card h1 {
  margin: 0;
	color: #02c3bd;
}
.body-card svg {
  width: 31px;
	color: #02c3bd;
  position: absolute;
  bottom: 7px; right: 20px;
}
@media screen and (min-width: 550px) {
  .card {
    grid-column: span 4;
  }
}
  @media screen and (min-width: 760px) {
    .card {
      width: 350px;
      margin: 10 0px;
    }
  }
    @media screen and (min-width: 960px) {
		.case {
			  margin: 5px 100px;
		}
	}
