    .fade, body, img {
	    -webkit-animation-name: fade;
	    -webkit-animation-duration: 3s;
	    animation-name: fade;
	    animation-duration: 3s;}
	  @-webkit-keyframes fade {
		  from {opacity: 0}
		  to {opacity: 1}}
	  @keyframes fade {
		  from {opacity: 0}
		  to {opacity: 1}}
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: 'Zen Kaku Gothic New', sans-serif;
      font-size: 16px;
background: #FFF;
    }
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background: #FFF;
flex-direction: column;
}
section:nth-child(1){
  color: #;
flex-direction: column;
  }
section:nth-child(2){
  color: #;
  background: #e0ffff;
flex-direction: column;
} 
section:nth-child(3){
  color: #;
flex-direction: column;
}
section:nth-child(4){
  color: #;
  background: #;
flex-direction: column;
}
section .container{
  margin: 10px;
flex-direction: column;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: ;
  padding: 21;
  background: #00c2cb;
flex-direction: column;
width: 100%;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 1900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
p {font-size: 1.7em;
     font-family: 'VT323', monospace;
     width: auto;
     height: auto;
     }
     a {text-decoration: none; width: auto; height: auto;}
     a:link {color: red;}
     a:visited {color: green;}
     a:hover {color: hotpink;}
     a:active {color: blue;}
     #bullets {font-family: 'VT323', monospace;}
     @font-face {
     font-family: "VT323";
     src: url('VT323-Regular.ttf');
     }
     .digital {
     font-family: "VT323";
     }
     html{scroll-behavior: smooth;}
.up-icon{
	position: fixed;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(image/top.png) no-repeat;
	bottom: 20px;
	right: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 70px;
	color: ;
        img: url(image/top.png);
}
.fa-chevron-circle-up{font-size: 30px;line-height: 50px;color:;}
#comments {display:;margin:10px 15px }
.post-comment-link { visibility:; }
#link { color: black;
}
.chatbot{
	position: fixed;
	width: 100px;
	height: 100px;
	border-radius: 20%;
	background: url(image/chatbot.gif) no-repeat;
	bottom: 20;
	left: 10;
	text-decoration: none;
	text-align: center;
	line-height: 70px;
        display: block;
	color: ;
        img: url(image/chatbot.gif);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,2);
        border: 1px grey;
}
.case { padding: 0; margin: auto; display: grid; grid-template-columns: repeat(8,1fr); margin: 5px 15px; gap:20px; position: relative; } .card { width: 100%; height: auto; grid-column: span 4; margin: 10px 0; border-radius: 15px; position: relative; box-shadow: 0 10px 10px rgba(0,0,0,.1); } .head-card img { width: 100%; height: 200px; object-fit: cover; } .body-card { padding: 10px 15px; } .body-card h1 { margin: 0; } .body-card svg { width: 31px; position: absolute; bottom: 7px; right: 20px; } @media screen and (min-width: 550px) { .card { grid-column: span 4; } @media screen and (min-width: 760px) { .card { width: 350px; margin: 0 10px; } @media screen and (min-width: 960px {}
